<div class="jumbotron jumbotron-fluid mb-0">
    <div class="container">
        <!--<div class="update">
            <p class="py-1 px-2"><span class="soon mx-2 p-1">SOON</span>TextChat: Instant text messaging coming out soon <i               class="fas fa-chevron-right"></i>
	    </p>
        </div>-->
        <h1 class="display-4 text-white">Stopped at page 21</h1>
        <p class="lead mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie nulla eu nulla tempus vestibulum. Nunc efficitur at odio condimentum tempus. </p>
        <div class="buttons">
            <%# <%= render btnStart %> %>
            <a class="btn btn-primary disabled" href="#">TextChat coming soon!!!</a>
        </div>
    </div>
</div>
<div class="text-right">

</div>